
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build directories
dist/
build/

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace

# Android
android/build/
ios/.DS_Store
ios/DespegarWebKit.xcframework/.DS_Store
android/.DS_Store
.DS_Store
